<div class="container">
  <div class="col-md-12 well panel panel-default">
    <h3>Agregar Zona Master</h3>
    <form ng-submit="addZone.addMasterZone()">
      <fieldset class="form-group">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" id="name" placeholder="Nombre de zona" ng-model="addZone.masterZone.name">
      </fieldset>
      <div id="zone-exists" class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Error</strong> Dominio ya existe.
      </div>
      <fieldset class="form-group">
        <label for="owner">Dueño</label>
        <select class="form-control" id="owner" ng-model="addZone.masterZone.owner">
          <option>Administrador</option>
          <option>Usuario</option>
        </select>
      </fieldset>
      <fieldset class="form-group">
        <label for="type">Tipo</label>
        <select class="form-control" id="type" ng-model="addZone.masterZone.type">
          <option>master</option>
          <option>native</option>
        </select>
      </fieldset>
      <button type="submit" class="btn btn-primary">Agregar</button>
      <button type="button" class="btn btn-warning" ng-click="addZone.cancel()">Cancelar</button>
    </form>
  </div>
</div>
