<div class="container">
  <!--<div class="row col-md-6 col-md-offset-2 custyle">-->
  <div class="col-md-12">
    <table class="table table-striped custab">
      <thead>
          <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Contenido</th>
            <th>TTL</th>
            <th>Prioridad</th>
            <th class="text-center">Acciones</th>
          </tr>
      </thead>
      <tbody ng-repeat="record in record.records">
        <tr>
          <td>{{record.name}}</td>
          <td>{{record.type}}</td>
          <td>{{record.content}}</td>
          <td>{{record.ttl}}</td>
          <td>{{record.prio}}</td>
          <td class="text-center">
            <button class='btn btn-info btn-xs' ui-sref="editRecord({id:record.id})">
              <span class="glyphicon glyphicon-edit"></span> Editar
            </button>
            <button class="btn btn-danger btn-xs" ng-click="$parent.record.deleteRecord(record.id)">
              <span class="glyphicon glyphicon-remove"></span> Eliminar
            </button>
        </tr>
      </tbody>
    </table>
  </div>
</div>
