<div class="container">
  <div class="col-md-12 custyle">
    <h3>Edición correo electrónico</h3>
    <form ng-submit="editMailbox.editMailbox()">
      <fieldset class="form-group">
        <label for="username">Correo electrónico</label>
        <p>
          {{editMailbox.mailbox.address}}
        </p>
      </fieldset>
      <fieldset class="form-group">
        <label for="name">Nombre</label>
        <input type="text"  class="form-control" id="name" placeholder="{{editMailbox.mailbox.name}}" ng-model="editMailbox.mailbox.name">
      </fieldset>
      <fieldset class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" class="form-control" id="password" ng-model="editMailbox.mailbox.password">
      </fieldset>
      <fieldset class="form-group">
        <label for="repeatPass">Repetir contraseña</label>
        <input type="password" class="form-control" id="repeatPass" ng-model="editMailbox.mailbox.repeatPass">
      </fieldset>
      <fieldset class="form-group">
        <label for="enabled">Activo</label>
        <input type="checkbox"  class="form-control" id="enabled" ng-checked="editMailbox.mailbox.enabled == 1" ng-model="editMailbox.check.enabled" ng-true-value="1" ng-false-value="0">
      </fieldset>
      <fieldset class="form-group">
        <label for="quota">Cuota de buzón de correo</label>
        <input type="number" number-converter ng-model="editMailbox.mailbox.quota" class="form-control" id="quota" placeholder="{{editMailbox.mailbox.quota}}" >
      </fieldset>
      <button type="submit" class="btn btn-primary">Editar</button>
      <button type="button" class="btn btn-warning" ng-click="editMailbox.cancel()">Cancelar</button>
    </form>
  </div>
</div>