<div class="container">
  <div class="col-md-12 custyle">
    <div class="panel panel-default">
      <table class="table table-striped custab">
        <thead>
          <tr>
              <th>E-Mail</th>
              <th>Nombre</th>
              <th>Tamaño casilla</th>
              <th>Activo</th>
              <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody ng-repeat="mailbox in mailbox.mailboxs">
          <tr>
              <td>{{mailbox.address}}</td>
              <td>{{mailbox.name}}</td>
              <td>{{mailbox.quota}} MB</td>
              <td>{{mailbox.enabled | yesNo}}</td>
              <td class="text-center">
                <button class='btn btn-info btn-xs' ui-sref="app.editMailbox({address: mailbox.address})">
                  <span class="glyphicon glyphicon-edit"></span> Editar
                </button>
                <button class="btn btn-danger btn-xs" ng-click="$parent.mailbox.deleteMailbox(mailbox.address)">
                  <span class="glyphicon glyphicon-remove"></span> Eliminar
                </button>
              </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
