<div class="container">
  <div class="col-md-12 custyle">
    <div class="panel panel-default">
      <table class="table table-striped custab">
        <thead>
          <tr>
              <th>Nombre</th>
              <th>Tipo</th>
              <th>Records</th>
              <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody ng-repeat="domain in domain.domains">
          <tr>
              <td>{{domain.name}}</td>
              <td>{{domain.type}}</td>
              <td>{{domain.records.length}}</td>
              <td class="text-center">
                <button class='btn btn-info btn-xs' ui-sref="app.addRecords({id:domain.id})">
                  <span class="glyphicon glyphicon-plus"></span> Agregar Registros
                </button>
                <button class='btn btn-info btn-xs' ui-sref="app.records({id:domain.id})">
                  <span class="glyphicon glyphicon-search"></span> Ver Registros
                </button>
                <button class="btn btn-danger btn-xs" ng-click="$parent.domain.deleteDomain(domain.id)">
                  <span class="glyphicon glyphicon-remove"></span> Eliminar
                </button>
              </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
